# Logs
logs
*.log


# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage
lib-cov
coverage
*.lcov
.nyc_output


# Dependency directories
node_modules/
jspm_packages/

# Yarn Integrity file
.yarn-integrity
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

# dotenv environment variables file
.env
.env.production
.env.test
.env.development

# Serverless directories
.serverless/
.vercel
